.navbar1{
background-color: rgb(6, 4, 17);
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: rgb(197, 181, 224);
}

.fontcolor{
  color: rgb(197, 181, 224); 
}

.body_color{
  background-image: url("fondo1.jpg");
  background-size: cover;

}

.nav-link:hover{
  background-color: rgb(124, 117, 117);
  font-size: x-large;
  color:white;
  
}

.grid-container {
    display: grid;
    height: 400px;
    align-content: center;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    /*background-color: #78b0dd;*/
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    padding: 20px 0;
    font-size: 20px;
    color: black;

  }


.img1{
    width: 100px;
    height: 100px;
    
    }
div.gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  body {margin: 0;}

  ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
  }
  
  ul.topnav li {float: left;}
  
  ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul.topnav li a:hover:not(.active) {background-color: #111;}
  
  ul.topnav li a.active {background-color: #4CAF50;}
  
  ul.topnav li.right {float: right;}
  
  @media screen and (max-width: 600px) {
    ul.topnav li.right, 
    ul.topnav li {float: none;}
  }